body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.nav-link {
    color: white;
    padding-left: 30px;
    margin-left: 60px;
    
}

.nav-link:hover, .heading:hover{
    color: #b8b8b8;
    background-color: black;
}

.first{
    margin-left: 100px;
}

.navbar {
    background-color: black; 
}
.heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: white;
    padding: 15px;
    margin: 0;
    text-align: left;
}


h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #4c4c4c;
    color: white;
    font-weight: bold;
    margin: 0;
}

h4 {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding: 10px;
}

p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
}

img{
    padding: 20px;
}

table{
    margin:10 0 10 0;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.general{
    padding: 20px;
}


section{
    background-image: linear-gradient(#686868c8, #9e9e9e, #dcdada);
}